<main>
    <div class="logo">
        <img src="assets/ECN.png" alt="This is the logo">
    </div>
    <h1>Welcome!</h1>
    <div class="card">
        <form (ngSubmit)="connect()">
            <input [(ngModel)]="username" type="email" name="username" id="username" placeholder="username">
            <input [(ngModel)]="password" type="password" name="password" id="password" placeholder="password">
            <div class="options">
                <div class="option1">
                    <input type="checkbox" name="rememberme" id="rememberme">
                    <label for="rememberme">Remember Me</label>
                </div>
                <div class="option2">
                    <a href="">Forget Password?</a>
                </div>
                
            </div>

            <button type="submit">Connection</button>
        </form>
        <hr>
        <select name="Langue" id="">
            <option value="english">English</option>
            <option value="french">French</option>
        </select>
    </div>
</main>